@media only screen and (max-width: 821px) {
  .cohorts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 640px) {
  .cohorts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .coached-cohorts-text {
    font-size: 1.5rem;
  }
}
