.student {
  height: 568px;
  background: #15cd98;
  border-radius: 10px;
  position: relative;
  .button {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #062407;
    color: #ffffff;
    /* Spread Shadow */

    // box-shadow: 0px 16px 24px #f3f3f3;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    width: 10rem;
    cursor: pointer;
    &:hover {
      background: linear-gradient(92.45deg, #1db221 -10.64%, #062407 77.69%);
      border-radius: 20px;
    }
    .imageWrapper {
      background: linear-gradient(92.45deg, #1db221 -10.64%, #062407 77.69%);
      border-radius: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem;
      margin-right: 0.75rem;
      &:hover {
        background: none;
      }
    }
  }
}

.company {
  height: 568px;
  background: #6069d6;
  border-radius: 10px;
  position: relative;
  .button {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #222985;
    /* Spread Shadow */

    // box-shadow: 0px 16px 24px #f3f3f3;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    width: 10rem;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      background: linear-gradient(95.61deg, #6069d6 2.73%, #222985 72.66%);
      border-radius: 20px;
    }
    .imageWrapper {
      background: linear-gradient(95.61deg, #6069d6 2.73%, #222985 72.66%);
      border-radius: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem;
      margin-right: 0.75rem;
      &:hover {
        background: none;
      }
    }
  }
}

@media only screen and (max-width: 821px) {
  .experience-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .student {
    width: 100%;
  }

  .company {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .experience-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .student {
    width: 100%;
  }
  .company {
    width: 100%;
  }
}
