.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #bf0808;
  padding-right: 1rem;
  width: 15rem;
  /* Spread Shadow */

  box-shadow: 0px 16px 24px #f3f3f3;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  // margin: 0px 10px;
  height: 3rem;
  cursor: pointer;
  &:hover {
    background: linear-gradient(80.82deg, #8a3cfc 6.96%, #bf0808 94.15%);
    border-radius: 20px;
  }
  .imageWrapper {
    background: linear-gradient(80.82deg, #8a3cfc 6.96%, #bf0808 94.15%);
    border-radius: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin-right: 0.75rem;
    &:hover {
      background: none;
    }
  }
}

.social-icons {
  border: 1px solid #090809;
  box-sizing: border-box;
  border-radius: 100px;
  width: 150px;
  height: 41.76px;
}

@media only screen and (max-width: 821px) {
  .footer-grid-wrap {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding: 1rem;
  }

  .footer-download {
    position: absolute;
    right: 3rem !important;
  }
}

@media only screen and (max-width: 640px) {
  .footer-grid-wrap {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding: 1rem;
  }
  .footer-download {
    position: absolute;
    right: 3rem;
  }
  .footer-social {
    display: none;
  }

  .social-icons {
    width: 6rem;
  }

  .footer-download-wrapper {
    flex-wrap: wrap;
    padding: 2rem;
  }
}
