.into-hero {
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  color: #090809;
  .students {
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #8a3cfc;
    padding: 0.5rem;
  }
  .educators {
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #bf0808;
  }
  .companies {
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #ff9a60;
    padding: 0.5rem;
  }
}

.descriptionWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  .sideLine {
    border: 1px solid #ffde59;
    height: 141px;
  }
  .description {
    padding-left: 1rem;
  }
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #bf0808;
  padding-right: 1rem;
  width: max-content;
  /* Spread Shadow */

  box-shadow: 0px 16px 24px #f3f3f3;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  margin-top: 2rem;
  cursor: pointer;
  &:hover {
    background: linear-gradient(80.82deg, #8a3cfc 6.96%, #bf0808 94.15%);
    border-radius: 20px;
  }
  .imageWrapper {
    background: linear-gradient(80.82deg, #8a3cfc 6.96%, #bf0808 94.15%);
    border-radius: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin-right: 0.75rem;
    &:hover {
      background: none;
    }
  }
}

.dividerWrapper {
  img {
    width: 25rem;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .intro-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 640px) {
  .intro-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
