.mentor {
  background: linear-gradient(102.76deg, #300273 0.46%, #7b61ff 102.41%);
  height: 352px;
  width: 100%;
  margin: 4rem 0 2rem 0;
}

.wrapper {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  background-color: #c4c4c4;
  margin-right: 2rem;
  border-radius: 10px;
}

.slick-slide {
  div {
    margin-right: 2rem;
  }
}
