.processWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  // width: 80%;
  height: 263.4px;
  background: linear-gradient(255.1deg, #15cd98 18.26%, #64efc7 78.35%);
  padding-left: 2rem;
  border-radius: 20px;
  .textWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #062407;
    color: #ffffff;
    padding-right: 1rem;
    /* Spread Shadow */

    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    cursor: pointer;
    &:hover {
      background: linear-gradient(92.45deg, #1db221 -10.64%, #062407 77.69%);
      border-radius: 20px;
    }
    .imageWrapper {
      background: linear-gradient(92.45deg, #1db221 -10.64%, #062407 77.69%);
      border-radius: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem;
      margin-right: 0.75rem;
      &:hover {
        background: none;
      }
    }
  }
}

.step-two {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 578px;
  margin-top: 6rem;
  margin-bottom: 6rem;
  background: linear-gradient(255.1deg, #ffa774 18.26%, #ffd9c3 78.35%);
  padding-left: 2rem;
  border-radius: 20px;

  .textWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
  }
  .step-two-steps {
    background: linear-gradient(
      116.13deg,
      #ffffff 33.55%,
      rgba(255, 255, 255, 0) 103.85%
    );
    width: 75%;
    height: 350.01px;
    border-radius: 10px;
    position: relative;
  }

  .explore {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #8a3cfc;
    /* Spread Shadow */

    box-shadow: 0px 16px 24px #f3f3f3;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    width: 10rem;
    cursor: pointer;
    &:hover {
      background: linear-gradient(92.45deg, #8a3cfc -10.64%, #5003c0 77.69%);
      border-radius: 20px;
    }
    .imageWrapper {
      background: linear-gradient(92.45deg, #8a3cfc -10.64%, #5003c0 77.69%);
      border-radius: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem;
      margin-right: 0.75rem;
      &:hover {
        background: none;
      }
    }
  }
}

@media only screen and (max-width: 821px) {
  .processWrapper {
    height: 600px;
    overflow: hidden;
  }

  .lady-image {
    bottom: -2rem;
  }

  .process-wing {
    left: -5rem;
    top: 15rem;
  }

  .process-top-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
  }
  .step-two {
    height: max-content;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .process-part2 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    .step-two-steps {
      width: 100%;
      .process-part2-1 {
        width: 30%;
        right: -1rem;
      }
      .process-part2-2 {
        width: 30%;
        right: -1rem;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .processWrapper {
    height: 600px;
    overflow: hidden;
  }

  .lady-image {
    bottom: -2rem;
  }

  .process-wing {
    left: -5rem;
    top: 15rem;
  }

  .process-top-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
  }

  .step-two {
    height: max-content;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .process-part2 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    .step-two-steps {
      width: 100%;
      .process-part2-1 {
        width: 60%;
        right: -1rem;
      }
      .process-part2-2 {
        width: 50%;
        right: -1rem;
      }
    }
  }
}
