.record {
  height: 352px;
  width: 592px;
  margin: 4rem 0 2rem 0;
}

.record-wrap {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

@media only screen and (max-width: 821px) {
  .higest-package {
    padding: 0 1rem;
  }

  .mentor-showcase {
    display: none;
  }

  .record {
    padding-top: 3rem;
  }

  .records-hello {
    top: 1rem;
  }

  .record-wrap {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    width: 400px !important;
  }

  .slick-slide {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }

  .records-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
  }
  .records-numbers {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 2rem 1rem;
    .record-num {
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }

  .bgImage {
    height: 400px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 640px) {
  .record-top-wrap {
    margin-bottom: 2rem;
  }
  .higest-package {
    padding: 0 2rem;
    text-align: center;
  }
  .record {
    padding-top: 1rem;
  }

  .mentor-showcase {
    display: none;
  }

  .bgImage {
    height: 500px;
    overflow: hidden;
    align-items: flex-start;
  }

  .record-wrap {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    flex-wrap: wrap;
    width: 80% !important;
    padding-left: 0;
  }

  .records-hello {
    text-align: center;
    padding-top: 1rem;
  }

  .record-wrap-1 {
    display: none;
  }
  .record-wrap-2 {
    display: none;
  }

  .slick-slide {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
      width: 300px;
      height: max-content !important;
    }
  }

  .records-hello {
    top: -0.5rem;
    left: 1rem;
    font-size: 1.5rem;
  }

  .records-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    text-align: center;
  }
  .records-numbers {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 2rem 1rem;
    .record-num {
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }
}
