.record {
  height: 352px;
  width: 592px;
  margin: 4rem 0 2rem 0;
}

.record-wrap {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

@media only screen and (max-width: 821px) {
  .records-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
  }
  .records-numbers {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 2rem 1rem;
    .record-num {
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 640px) {
  .records-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
  }
  .records-numbers {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 2rem 1rem;
    .record-num {
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }
}
