.title {
  background: #15cd98;
  width: 1135px;
  height: 304px;
  border-radius: 10px;
}

.one {
  background: linear-gradient(255.1deg, #ffea97 18.26%, #ffd52e 78.35%);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

.two {
  background: linear-gradient(93.4deg, #6069d6 5.1%, #272f98 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}
