.title {
  background: linear-gradient(93.4deg, #6069d6 5.1%, #272f98 100%);
  width: 1135px;
  height: 304px;
  border-radius: 10px;
}

.bg-title {
  background: linear-gradient(93.4deg, #6069d6 5.1%, #272f98 100%);
}
