.mail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #ffd52e;
  /* Spread Shadow */

  // box-shadow: 0px 16px 24px #f3f3f3;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  margin: 0 3rem;
  cursor: pointer;
  &:hover {
    background: linear-gradient(255.1deg, #ffea97 18.26%, #ffd52e 78.35%);
    border-radius: 20px;
  }
  .imageWrapper {
    background: linear-gradient(255.1deg, #ffea97 18.26%, #ffd52e 78.35%);
    border-radius: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin-right: 0.75rem;
    &:hover {
      background: none;
    }
  }
}

.bg-linear {
  background: linear-gradient(80.82deg, #8a3cfc 6.96%, #bf0808 94.15%);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

.fast-paced {
  background: linear-gradient(80.82deg, #8a3cfc 6.96%, #bf0808 94.15%);
}

@media only screen and (max-width: 821px) {
  .warrior-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140px;
    .mail {
      margin-top: 1rem;
      width: 80%;
      padding: 0 0 0.5rem 0;
    }
    span {
      margin-top: 1rem;
      padding-left: 0;
    }
  }

  .warrior-values {
    display: flex;
    justify-items: center;
    align-items: center;
    height: max-content;
    flex-direction: column;
    span {
      padding-left: 0;
    }
  }

  .warrior-card-wrap {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .warrior-text {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .warrior-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140px;
    span {
      margin-top: 1rem;
      padding-left: 0;
    }
    .warrior-perform {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  .warrior-values {
    display: flex;
    justify-items: center;
    align-items: center;
    height: max-content;
    flex-direction: column;
    span {
      padding-left: 0;
    }
    .warrior-perform {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  .warrior-card-wrap {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .warrior-text {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
  }
}
